body{
    background-color: #FAF8F5;
    width: 100%;
    font-family:sans-serif;
    margin: 0;
}
      .header {
        background-color:#F1ECE1;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        position: sticky;
      }
      .header a{
        text-decoration: none;
        color:#3D2314;
      }
      .hamburger-menu{
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
      }
      .hamburger-menu span{
        width: 25px;
        height: 3px;
        background-color: #333;
        transition: 0.3s;
      }
      @media (max-width:768px){
        .hamburger-menu{
          display: flex;
        }
        .navbar a{
          display: none;
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          background-color: #fff;
          padding: 20px 0px;
          text-align: center;
        }
        .display{
          display: none;
        }
      }
      #main-content{
        background-color:#eae0cb;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
      }
      .col-1{
        flex: 1;
      }
      .col-1 h1{
        color:#3D2314;
        margin: 30px;
        padding: 50px 0px;
        font-size: 42px;
      }
      .col-1 h4{
        color: #6B5344;
        margin: 15px 30px;
        font-size: 18px;
      }  
      .col-1 button{
        margin: 30px;
      } 
      .col-2{
        position: relative;
        max-height: 500px;
        overflow: hidden;
        flex: 1;
      }  
      .col-2 img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }  
      @media (max-width: 768px){
        #main-content{
          flex-direction: column;
          padding: 20px;
          text-align: center;
        }
        .col-1 h1{
          font-size: 28px;
          padding: auto;
        }
        .col-1 h4{
          font-size: 15px;
          padding: auto;
        }
        .col-2 img{
          width: 100%;
        }
      }
      button{
        background-color: #3D2314;
        color: white;
        padding: 5px 15px;
        border-radius: 7px;
        cursor: pointer;
        border: #6B5344;
      }
      .products-section h1{
        text-align: center;
        padding: 30px;
        color: #3D2314;
      }
      .footer{
        display: flex;
        padding: 1rem;
        justify-content: center;
        background-color: #3D2314;
        color: white;
        font-size: small;
      }
      nav a{
        text-decoration: none;
        color: white;
      }
      .card-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 20px;
      }
      .card{
        background-color: #fff;
        border: 2px solid #3D2314;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: center;
      }
      .card button{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 0;
      }
      .padding{
        padding: 10px;
      }
      .card img{
        width: 100%;
        height: auto;
      }
      @media (max-width: 1024px){
        .card-grid{
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media (max-width: 768px){
        .card-grid{
          grid-template-columns: 1fr;
          gap: 15px;
          padding: 10px;
        }
      }
      .rating-count{
        display: right;
        opacity: 0.5;
      .star{
        color: rgb(223, 190, 4);
        opacity: 1;
      }